<div class="home">
    <div class="row home-banner">
        <div class="home-banner-container">
            <article class="lg-col-span-8 home-banner-left">
                <div class="mainVisualItem" style="display: block;">
                    <img id="img" src="slide/SV800MY20-RED17.png" alt="">
                </div>
                <input
                        type="range"
                        id="slider"
                        min="0"
                        max="35"
                        class="slider"
                        oninput="setSlide()"
                        value="17"
                >
            </article>
            <aside class="lg-col-span-4 home-banner-right">
                <div class="home-banner-right-welcome">
                    <h2>Superveloce 800</h2>
                    <p>Appearance tells the truth. With the Superveloce 800, it’s a neo-classic racer designed to be the most
                        appealing bike by blending a perfect balance of modern forms and references from the past.</p>
                    <p>Taking inspiration from MV Agusta’s racing history, the truth behind the appearance shows that nothing
                        escaped the designer’s eye in creating a highly functional and performance-oriented bike.</p>
                </div>
                <hr class="home-divider"/>
                <div class="color-btn-container">
                    <div class="color-btn color-btn-red" onclick="onBikeColorClick('RED')"></div>
                    <div class="color-btn color-btn-black" onclick="onBikeColorClick('BLACK')"></div>
                </div>
            </aside>
        </div>
    </div>
    <div class="row home-notify">
        <div class="lg-col-span-12 home-notify-form-container">
            <form name="notify" class="home-notify-form" action="mailto:snapdragonxc@gmail.com?subject=Notification%20at%20Race%20Replica"
                  method="post" enctype="text/plain" onsubmit="return submitNotify(this)" autocomplete="off" autocorrect="off" >
                <label class="home-notify-form-label">PLEASE NOTIFY ME OF UPDATES</label>
                <span class="home-notify-form-input">
                <input name="EMAIL" placeholder="Enter Email Address" type="email">
                <button type="submit" >SUBMIT</button>
                </span>
            </form>
        </div>
    </div>
</div>

