<div class="about">
    <div class="row">
        <div class="lg-col-span-12 about-content">
        <div class="about-content-wrap">
            <h2>About</h2>
            <p>Race Replica is a website to test, develop and research single page applications built without a Framework. It has gone through several iterations since 2016 but
                the current version uses the
                <a href="https://github.com/janl/mustache.js/" target="_blank" >Mustache</a> template rendering library and a custom built router to navigate between pages.</p>
            <p>Mustache itself, is descibed by its developers as a logic-less template syntax that can be used for HTML, config files, source code - anything. It works by
                expanding tags in a template using values provided in a hash or object.</p>
            <p>Other single page apps without Frameworks have been built before,
                for example there is one described by Michael Wanyoike in 2018 at sitepoint, which uses Handlebars:
                <a href="https://www.sitepoint.com/single-page-app-without-framework/" target="_blank">Single Page App Without a Framework</a>.</p>
            <p>There are a lot of client side routing libraries available, including
                <a href="https://www.npmjs.com/package/vanilla-router">Vanilla Router</a>, but I wanted to build my own with syntax based on the
                ExpressJS router and so the router used here is unique.</p>
            <p>This website also features an algorithm to set a sequence of columns filled with text to be of identical heights.
                This gives the articles page of the website a magazine type of layout.</p>
            <p>The styling was copied directly from an old version of the <a href="https://www.hautehijab.com/">Haute Hijab</a> ecommerce website (2016). However,
                Haute Hijab has changed substantially over the years and there is now little resemblance to it. The photos of the motorbike on the home page are from
                <a href="https://www.mvagusta.com/" target="_blank">MV Agusta</a>.</p>
            <p class="text-right">Mark Mackenzie</p>
            <p class="text-right">February 2021</p>
        </div>
    </div>
</div>            
