<header class="row page-header">
    <div class="page-header-container">
        <ul class="lg-col-span-12 page-header-filter">
            <li>
                <div class="page-select-container">
                    <select class="page-select" onchange="articles.onTypeChange(this.value)">
                        {{#types}}
                        <option value="{{type}}" {{selected}}>{{type}}</option>
                        {{/types}}
                    </select>
                    <div class="page-select-btn"><i class="fa fa-chevron-down"></i></div>
                </div>
            </li>
            <li>
                <div class="page-select-container">
                    <select class="page-select" onchange="articles.onMagazineChange(this.value)">
                        {{#magazines}}
                        <option value="{{magazine}}" {{selected}}>{{magazine}}</option>
                        {{/magazines}}
                    </select>
                    <div class="page-select-btn"><i class="fa fa-chevron-down"></i></div>
                </div>
            </li>
        </ul>
    </div>
</header>
<div id="hiddenTxt" style="display: none"></div>
<article class="row articles-content">
    <div class="articles-content-container">
        <div class="marker left">
            <div class="marker-container"></div>
            <div class="marker-arrow" onclick="articles.onPrevPage()"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
        </div>
        <div class="marker right">
            <div class="marker-container"></div>
            <div class="marker-arrow" onclick="articles.onNextPage()"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>
        <div class="articles-content-cols" id="articles">
            <div class="lg-col-span-3 articles-content-col" id="firstCol">
                <!-- this is required to get moustache (or chrome) to render properly. dont know why -->
                <h1 style="visibility: hidden">&nbsp;</h1>
                <p style="visibility: hidden">&nbsp;</p>
            </div>
            <div class="lg-col-span-3 articles-content-col"></div>
            <div class="lg-col-span-3 articles-content-col"></div>
            <div class="lg-col-span-3 articles-content-col"></div>
        </div>
    </div>
</article>
<footer class="row articles-footer">
    <div class="articles-footer-container">
        <div class="lg-col-span-12 articles-footer-content">
            PAGE <span id="articles-page-number">1</span>
        </div>
    </div>
</footer>




